// raw colors
$green: #25AF60;
$black: #000000;
$white: #FFFFFF;
$dark-grey: #575657;
$grey: #90827A;
$light-grey: #EAEAEA;
$red: #ff0000;

// applied colors
$blue-followprice: #28A8E0;
$overlay-bg: rgba(0, 0, 0, 0.5);
$discountTagColor: $green;
$linkColor: #134D7B;
